<p id="notice"><%= notice %></p>

<h1>Rooiversity</h1>

  <% @restaurants.each do |restaurant| %>
    <%= render partial: 'restaurant', locals: {restaurant: restaurant} %>
  <% end %>

<br>

<div class="actions">
  <%= link_to 'New Restaurant', new_restaurant_path %>
</div>
